<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="{{ url_for('static', filename='aboutus.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/aboutus">About us</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <h1>about us</h1>
    </div>
    <footer class="footer">
      <div class="container">
        <span>
          <a href="https://github.com/jh2k2/FlaskMask">Github Repository</a>
        </span>
      </div>
    </footer>
  </body>
</html>
